html {
  background-image: url(ストライプ背景.jpg);
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  align-items: center;
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
}

body {
  align-items: center;
  text-align: center;
  font-size: 30px;
  height: 860px;
}

header {
  background-color: darkgreen;
  text-align: center;
  color: white;
  padding-bottom: 0%;
  font-size: 30px;
}

main {
  font-size: 30px;
  text-align: center;
  align-items: center;
}

.BOTAN {
  width: 400px;
  height: 180px;
  text-align: left;
  align-items: center;
  margin: auto;
}

form {
  display: flex;
  flex-direction:column;
  align-items: center;
}

form ul {
  list-style: none;
  padding-bottom: 0px;
  font-size: 30px;
}

.footer {
  width: 100%;
  background: rgb(0, 0, 0);
  color: red;
  text-align: center;
  font-size: 30px;
}


.question_area{
    background-image: url(もこもこ.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position: center top;   
    height: 400px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

#count {
  padding-bottom: 10px;
  margin: 0%;
}

#question {
  padding-bottom: 10px;
  margin: 0%;
}
